/*------------------------paymentonline --------------------------*/
.paymentOnline-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f6fa;
}

.form-container-paymentOnline {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 350px;
}

.form-container-paymentOnline h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.form-paymentOnline {
  display: flex;
  flex-direction: column;
}

.form-paymentOnline label {
  text-align: left;
  font-weight: bold;
  margin: 5px 0;
}

.form-paymentOnline input {
  width: 94%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.form-paymentOnline input:focus {
  outline: none;
  border-color: #007bff;
}

.form-paymentOnline button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-paymentOnline button:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 600px) {
  .form-container-paymentOnline {
    width: 100%;
    padding: 1.5rem;
  }

  .form-Order input {
    padding: 10px;
    font-size: 14px;
  }

  .form-Order button {
    font-size: 14px;
    padding: 10px;
  }
}




