.SubscriptionUR-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d2ad86;
    min-height: 100vh;
    padding: 20px;
  }
  
  .SubscriptionUR-wrapper h1 {
    color: #5a4634 ;
  }
  
  .SubscriptionUR-subscriptionList {
    width: 95%;
  }
  
  .SubscriptonUR-subscription {
    background: #5a4634 ;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    display: flex;
  }
  
  .SubscriptonUR-subscription p {
    font-size: 14px;
    font-weight: bold;
    color: #d2ad86;
    margin-right: 30px;
    margin-left: 30px;
  }
  
  .SubscriptonUR-subscription button {
    background-color: #5a4634 ;
    color: #d2ad86;
    border: none;
    padding: 5px 10px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
  }
  
  .SubscriptonUR-subscription button:hover{
    background-color: #d2ad86;
    color: #5a4634 ;
  }


  @media (max-width: 768px) {
  .SubscriptonUR-subscription {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .SubscriptonUR-subscription p {
    margin: 10px 0;
  }

  .SubscriptonUR-subscription button {
    margin-top: 10px;
  }

  .SubscriptionUR-subscriptionList {
    width: 100%;
  }
}
